@import "tailwindcss";

@layer utilities {
  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    }
  }

  .animate-glow {
    animation: glow 1.5s infinite;
  }
}
